<?xml version="1.0"?>
<robot name="my_robot_with_zed" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Materials -->
    <material name="grey">
        <color rgba="0.7 0.7 0.7 1" />
    </material>

    <material name="green">
        <color rgba="0 0.6 0 1" />
    </material>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <!-- Base Links -->

    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.45 0.2 0.165" />
            </geometry>
            <origin xyz="0.2 0 0.1" rpy="0 0 0" />
            <material name="green" />
        </visual>
    </link>

    <link name="zed_camera_link" />
    

    <!-- Joints -->
    

    <joint name="zed_camera_link_joint" type="fixed">
        <parent link="base_link" />
        <child link= "zed_camera_link" />
        <origin xyz="0.35 0.05 0.3" rpy="0 0 0" />
    </joint>
</robot>