<?xml version="1.0"?>
<robot name="my_robot_with_zed" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_link" />
        
    <link name="support_frame" />    
    <joint name="base_to_support_joint" type="fixed">
        <parent link="base_link" />
        <child link= "support_frame" />
        <origin xyz="0.34 0.0 0.50" rpy="0 0 0" />
    </joint>

    <link name="zedxm_fwd_camera_link" />    
    <joint name="zedxm_fwd_to_base_joint" type="fixed">
        <parent link="base_link" />
        <child link= "zedxm_fwd_camera_link" />
        <origin xyz="0.35 0.0 0.40" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="zedxm_bwd_camera_link" />
    <joint name="zedxm_bwd_to_base_joint" type="fixed">
        <parent link="base_link" />
        <child link= "zedxm_bwd_camera_link" />
        <origin xyz="0.04 0.0 0.34" rpy="0 0 ${pi}"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="imu_link" />    
    <joint name="imu_link_joint" type="fixed">
        <parent link="base_link" />
        <child link= "imu_link" />
        <origin xyz="0.19 0.0 0.30" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>

</robot>